header{
  background-image: url(pics/header-bg.jpg);
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}


.nav-div-outer{
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-div-inner{
  height: 10vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;  
 
}

.nav-bar{
  height: 40px;
  width: 900px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* justify-content: space-around;   */
  margin-left: 150px;
}

.nav-logo{
  width: 187px;
}



.nav-links{
  color: aliceblue;
  display: flex;
  width: 500px;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  
}

.nav-hidden{
  display: none;  
}

.menu-btn{
  display: none;
}

.filler{
  
  color: aliceblue;
  position: absolute;
  top: 275px;
  text-align: center;
}

h1{
  font-size: 80px;
  text-transform: uppercase;
  margin-top: 40px;
}
h2{
  font-size: 40px;
  text-transform: capitalize;
}

.middle-btn{
  margin-top: 50px;
  height: 75px;
  width: 200px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  background-color: goldenrod;
  border-radius: 8px;
  border: none;
  color: aliceblue;
}

@media screen and (max-width: 1000px) {
  .nav-div-outer{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;
    background-color: #292626;
    /* transition: all .3s; */
  }
  
  .nav-links{
    display: none;
  }
  
  
  .menu-btn{
    color:aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px;
    width: 90px;
    height: 40px;
    background-color: goldenrod;
    border: 0;
    border-radius: 5px;
    padding: 0 12px 0 12px;
    position: absolute;
    top: 30px;
    right: 40px;
  }

  .menu-btn img{
    width: 18px;
    margin-left: 10px;
  }

  .nav-logo{
    width: 140px;
    position: absolute;
    top: 40px;
    left: 100px;
  }

  .drop{
    width: 100vw;
    height: 280px;
    display: flex;
    
    justify-content: center;
    align-items: flex-start;
  }

  .nav-links-down{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    position: absolute;
    top: 75px;
    left: 100px;
    transition-delay: .4s;
    font-size: 18px;
    line-height: 2.2;
  }

  .show{
    display: initial;
    transition-delay: .4s;
  }

}


@media screen and (max-width: 767px) {

  .menu-btn img{
    width: 18px;
    margin-left: 10px;
  }

  .nav-logo{
    width: 140px;
    position: absolute;
    top: 40px;
    left: 100px;
  }


}